
html
  box-sizing: border-box
  font-size: 62.5%
  line-height: 2.4rem
  background: $clr-body-background

  +breakpoint(false, $sm)
    font-size: 50%


  *,
  *:before,
  *:after
    box-sizing: inherit


body
  background: $clr-body-background


a
  transition-property: all
  transition-duration: 300ms
  transition-timing-function: ease-in-out
  transition-timing-function: $ease-in-out-quint

  &:link,
  &:visited
    color: $clr-link
    text-decoration: none

  &:hover,
  &:active
    color: darken($clr-link,15%)
    text-decoration: none