/*------------------------------------//
//  Documentation
//------------------------------------*/

// Overwrite Vars
$sticky-footer: false
$heading-font-family: Montserrat
$sidebar-width: 22vw

// Deps
@import "../global/variables/colors"
@import "../global/variables/easings"
@import "../global/config"
@import "../global/settings"
@import "../base/typography"
@import "../components/vendor/prism"



.page--documentation
  .main--global .main-inner
    display: flex
    flex-flow: row nowrap

  .header--global,
  .footer--global,
  .content
    margin-left: $sidebar-width

  .header--global
    .header--first,
    .header--last
      display: flex
      align-items: flex-end

    .header--first
      background: $clr-gray
      padding-top: $spacer*2
      padding-bottom: $spacer

      .heading
        color: $clr-dark

    .header--last
      background: $clr-light
      padding-top: $spacer*2
      padding-bottom: $spacer

      .heading
        color: $clr-gray

    .heading
      margin: 0

  .footer--global
    .footer-inner
      padding-top: $spacer
      padding-bottom: $spacer

  .sidebar
    z-index: 1
    width: $sidebar-width
    position: fixed
    top: 0
    bottom: 0
    left: 0
    background: $clr-dark
    color: $clr-light

    ul
      padding: 0
      margin: 0
      list-style: none

    li
      display: block

    a
      display: block
      color: white
      text-decoration: none


  .content
    position: relative
    flex: 1 1 auto
    background: linear-gradient(to right, $clr-light 0, $clr-light 66.667%, white 66.667%, white 100%)
    background: linear-gradient(to right, $clr-light 0, $clr-light calc(100%/3*2), white calc(100%/3*2), white 100%)

  .module-group
    margin-bottom: $spacer

    &:last-of-type
      margin-bottom: 0

  .module
    position: relative
    margin-bottom: $spacer

    &:last-of-type
      margin-bottom: 0

  .module-description
  .module-code
    z-index: 10
    position: sticky
    top: $spacer
    font-size: 1.1rem
    box-shadow: -3rem 0 10rem 3rem rgba($clr-gray,0)
    transition-property: margin, box-shadow
    transition-duration: 1000ms
    transition-delay: 0ms
    transition-timing-function: ease-in-out
    transition-timing-function: $ease-out-quint

    &:hover
      margin-left: -10rem
      box-shadow: -3rem 0 10rem 3rem rgba($clr-gray,.75)
      transition-delay: 300ms
      


.col-box
  background: whitesmoke
  background: white
  padding: $spacer/2
  text-align: center
  font-size: 1.1rem
  font-weight: 400
  color: $clr-text-faded