// Body

html
  height: 100%

body
  min-height: 100%
  overflow-x: hidden

// Sticky footer

@if ($sticky-footer)
  .page-wrap
    display: flex
    flex-flow: column nowrap
    min-height: 100vh

    .header--global,
    .footer--global
      flex: 0 0 auto

    .main--global
      display: flex
      flex-flow: column nowrap
      flex: 1 1 auto

      .main-inner
        flex: 1 1 auto