@font-face {
  font-family: Montserrat;
  font-style: italic;
  font-weight: 100;
  src: local("Montserrat Thin Italic"),local(Montserrat-ThinItalic),url(//fonts.gstatic.com/s/montserrat/v10/1809Y0aW9bpFOPXsQTFwf9P2OS6Bzu7BENq0TH5sayk.eot?#) format("eot"),url(//fonts.gstatic.com/s/montserrat/v10/1809Y0aW9bpFOPXsQTFwf1dBB84BqlWy1BjOnCrU9PY.woff2) format("woff2"),url(//fonts.gstatic.com/s/montserrat/v10/1809Y0aW9bpFOPXsQTFwfy1dfeF-hbOdKKuBDEXxqhQ.woff) format("woff");
}
@font-face {
  font-family: Montserrat;
  font-style: italic;
  font-weight: 200;
  src: local("Montserrat ExtraLight Italic"),local(Montserrat-ExtraLightItalic),url(//fonts.gstatic.com/s/montserrat/v10/zhwB3-BAdyKDf0geWr9Ft2hUd5_HpjpfImmlNZG9RF4.eot?#) format("eot"),url(//fonts.gstatic.com/s/montserrat/v10/zhwB3-BAdyKDf0geWr9Ft5dxImagpP7sHxM18iKeP-M.woff2) format("woff2"),url(//fonts.gstatic.com/s/montserrat/v10/zhwB3-BAdyKDf0geWr9Ft_7J9eW2S58LCMPoFblzf2g.woff) format("woff");
}
@font-face {
  font-family: Montserrat;
  font-style: italic;
  font-weight: 300;
  src: local("Montserrat Light Italic"),local(Montserrat-LightItalic),url(//fonts.gstatic.com/s/montserrat/v10/zhwB3-BAdyKDf0geWr9Ft4ySLpARcVRs9uFJp0LRZgE.eot?#) format("eot"),url(//fonts.gstatic.com/s/montserrat/v10/zhwB3-BAdyKDf0geWr9Ft04GofcKVZz6wtzX_QUIqsI.woff2) format("woff2"),url(//fonts.gstatic.com/s/montserrat/v10/zhwB3-BAdyKDf0geWr9Ft2Fp2sMiApZm5Dx7NpSTOZk.woff) format("woff");
}
@font-face {
  font-family: Montserrat;
  font-style: italic;
  font-weight: 400;
  src: local("Montserrat Italic"),local(Montserrat-Italic),url(//fonts.gstatic.com/s/montserrat/v10/-iqwlckIhsmvkx0N6rwPmnZ2MAKAc2x4R1uOSeegc5U.eot?#) format("eot"),url(//fonts.gstatic.com/s/montserrat/v10/-iqwlckIhsmvkx0N6rwPmugdm0LZdjqr5-oayXSOefg.woff2) format("woff2"),url(//fonts.gstatic.com/s/montserrat/v10/-iqwlckIhsmvkx0N6rwPmnhCUOGz7vYGh680lGh-uXM.woff) format("woff");
}
@font-face {
  font-family: Montserrat;
  font-style: italic;
  font-weight: 500;
  src: local("Montserrat Medium Italic"),local(Montserrat-MediumItalic),url(//fonts.gstatic.com/s/montserrat/v10/zhwB3-BAdyKDf0geWr9FtzHhXAPWOXQc-mHRKx4oalk.eot?#) format("eot"),url(//fonts.gstatic.com/s/montserrat/v10/zhwB3-BAdyKDf0geWr9Ft81Lch-SD8r0CsJ60meulZ8.woff2) format("woff2"),url(//fonts.gstatic.com/s/montserrat/v10/zhwB3-BAdyKDf0geWr9FtxF47VQSRrvbVYTKIrepY7I.woff) format("woff");
}
@font-face {
  font-family: Montserrat;
  font-style: italic;
  font-weight: 600;
  src: local("Montserrat SemiBold Italic"),local(Montserrat-SemiBoldItalic),url(//fonts.gstatic.com/s/montserrat/v10/zhwB3-BAdyKDf0geWr9FtzBIQ40lcwWW3vj9tFMKvqw.eot?#) format("eot"),url(//fonts.gstatic.com/s/montserrat/v10/zhwB3-BAdyKDf0geWr9Ft_Bf3Xtc57ojmY2ox2Xv8Go.woff2) format("woff2"),url(//fonts.gstatic.com/s/montserrat/v10/zhwB3-BAdyKDf0geWr9Ft9Od4RnLmtUrdSQkDmC5b8k.woff) format("woff");
}
@font-face {
  font-family: Montserrat;
  font-style: italic;
  font-weight: 700;
  src: local("Montserrat Bold Italic"),local(Montserrat-BoldItalic),url(//fonts.gstatic.com/s/montserrat/v10/zhwB3-BAdyKDf0geWr9Ft2msoyWrDyoltQVIP7q_RGg.eot?#) format("eot"),url(//fonts.gstatic.com/s/montserrat/v10/zhwB3-BAdyKDf0geWr9Ft3NuWYKPzoeKl5tYj8yhly0.woff2) format("woff2"),url(//fonts.gstatic.com/s/montserrat/v10/zhwB3-BAdyKDf0geWr9Ft3l4twXkwp3_u9ZoePkT564.woff) format("woff");
}
@font-face {
  font-family: Montserrat;
  font-style: italic;
  font-weight: 800;
  src: local("Montserrat ExtraBold Italic"),local(Montserrat-ExtraBoldItalic),url(//fonts.gstatic.com/s/montserrat/v10/zhwB3-BAdyKDf0geWr9Ft9Kd--5SjvBBPdO8SYNBozY.eot?#) format("eot"),url(//fonts.gstatic.com/s/montserrat/v10/zhwB3-BAdyKDf0geWr9FtxqoE9FO9sRveXk8Nnop4Zo.woff2) format("woff2"),url(//fonts.gstatic.com/s/montserrat/v10/zhwB3-BAdyKDf0geWr9Ft2pVmE9oLybi4D_AN-2K110.woff) format("woff");
}
@font-face {
  font-family: Montserrat;
  font-style: italic;
  font-weight: 900;
  src: local("Montserrat Black Italic"),local(Montserrat-BlackItalic),url(//fonts.gstatic.com/s/montserrat/v10/zhwB3-BAdyKDf0geWr9Ft19iNfvTt1gMvrhy159_6ck.eot?#) format("eot"),url(//fonts.gstatic.com/s/montserrat/v10/zhwB3-BAdyKDf0geWr9Ft9DLwwZd-mS_8JqJ_KGXwxs.woff2) format("woff2"),url(//fonts.gstatic.com/s/montserrat/v10/zhwB3-BAdyKDf0geWr9Ftwi3Hume1-TKjJz2lX0jYjo.woff) format("woff");
}
@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 100;
  src: local("Montserrat Thin"),local(Montserrat-Thin),url(//fonts.gstatic.com/s/montserrat/v10/CdKWaRAal2Bxq9mORLKRRXZ2MAKAc2x4R1uOSeegc5U.eot?#) format("eot"),url(//fonts.gstatic.com/s/montserrat/v10/CdKWaRAal2Bxq9mORLKRRegdm0LZdjqr5-oayXSOefg.woff2) format("woff2"),url(//fonts.gstatic.com/s/montserrat/v10/CdKWaRAal2Bxq9mORLKRRXhCUOGz7vYGh680lGh-uXM.woff) format("woff");
}
@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 200;
  src: local("Montserrat ExtraLight"),local(Montserrat-ExtraLight),url(//fonts.gstatic.com/s/montserrat/v10/eWRmKHdPNWGn_iFyeEYja26IuzAwjfI5Pbb6jofSqzk.eot?#) format("eot"),url(//fonts.gstatic.com/s/montserrat/v10/eWRmKHdPNWGn_iFyeEYja6EWXqnGSfwnQD3YDlprsb0.woff2) format("woff2"),url(//fonts.gstatic.com/s/montserrat/v10/eWRmKHdPNWGn_iFyeEYjaxp4ivTFcMoDJtPEqAe9hmM.woff) format("woff");
}
@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  src: local("Montserrat Light"),local(Montserrat-Light),url(//fonts.gstatic.com/s/montserrat/v10/IVeH6A3MiFyaSEiudUMXE6SxSvC1lIsK_unZDHWqTBg.eot?#) format("eot"),url(//fonts.gstatic.com/s/montserrat/v10/IVeH6A3MiFyaSEiudUMXE8u2Q0OS-KeTAWjgkS85mDg.woff2) format("woff2"),url(//fonts.gstatic.com/s/montserrat/v10/IVeH6A3MiFyaSEiudUMXE9kZXW4sYc4BjuAIFc1SXII.woff) format("woff");
}
@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  src: local("Montserrat Regular"),local(Montserrat-Regular),url(//fonts.gstatic.com/s/montserrat/v10/zhcz-_WihjSQC0oHJ9TCYFQlYEbsez9cZjKsNMjLOwM.eot?#) format("eot"),url(//fonts.gstatic.com/s/montserrat/v10/zhcz-_WihjSQC0oHJ9TCYPk_vArhqVIZ0nv9q090hN8.woff2) format("woff2"),url(//fonts.gstatic.com/s/montserrat/v10/zhcz-_WihjSQC0oHJ9TCYBsxEYwM7FgeyaSgU71cLG0.woff) format("woff");
}
@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  src: local("Montserrat Medium"),local(Montserrat-Medium),url(//fonts.gstatic.com/s/montserrat/v10/BYPM-GE291ZjIXBWrtCweoJh5taHiwXv-DjBEZUuYXM.eot?#) format("eot"),url(//fonts.gstatic.com/s/montserrat/v10/BYPM-GE291ZjIXBWrtCwejOo-lJoxoMO4vrg2XwIHQk.woff2) format("woff2"),url(//fonts.gstatic.com/s/montserrat/v10/BYPM-GE291ZjIXBWrtCweu46x7QEqGuF-FJIFiH1W2g.woff) format("woff");
}
@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  src: local("Montserrat SemiBold"),local(Montserrat-SemiBold),url(//fonts.gstatic.com/s/montserrat/v10/q2OIMsAtXEkOulLQVdSl08G3e9iX24ta7lLMfbqPFME.eot?#) format("eot"),url(//fonts.gstatic.com/s/montserrat/v10/q2OIMsAtXEkOulLQVdSl06VlZKEoJGujTpfWnQT9bUY.woff2) format("woff2"),url(//fonts.gstatic.com/s/montserrat/v10/q2OIMsAtXEkOulLQVdSl024H_cQCpNmkmj7HsMzmiiM.woff) format("woff");
}
@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  src: local("Montserrat Bold"),local(Montserrat-Bold),url(//fonts.gstatic.com/s/montserrat/v10/IQHow_FEYlDC4Gzy_m8fcmzklk6MJbhg7BmBP42CjCQ.eot?#) format("eot"),url(//fonts.gstatic.com/s/montserrat/v10/IQHow_FEYlDC4Gzy_m8fcoWiMMZ7xLd792ULpGE4W_Y.woff2) format("woff2"),url(//fonts.gstatic.com/s/montserrat/v10/IQHow_FEYlDC4Gzy_m8fcgFhaRv2pGgT5Kf0An0s4MM.woff) format("woff");
}
@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  src: local("Montserrat ExtraBold"),local(Montserrat-ExtraBold),url(//fonts.gstatic.com/s/montserrat/v10/H8_7oktkjVeeX06kbAvc0B8AHhEfjUJjouFVttJjJoo.eot?#) format("eot"),url(//fonts.gstatic.com/s/montserrat/v10/H8_7oktkjVeeX06kbAvc0Ary2jK1Y0oNyoF1xLf3zMQ.woff2) format("woff2"),url(//fonts.gstatic.com/s/montserrat/v10/H8_7oktkjVeeX06kbAvc0CS-0kw_uRLN9JEz12uqVRQ.woff) format("woff");
}
@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 900;
  src: local("Montserrat Black"),local(Montserrat-Black),url(//fonts.gstatic.com/s/montserrat/v10/aEu-9ATAroJ1iN4zmQ55BsWwaGkf25P-zZOrMBTzpJc.eot?#) format("eot"),url(//fonts.gstatic.com/s/montserrat/v10/aEu-9ATAroJ1iN4zmQ55Bsjsb7Oq0o-uqUFW7Ygu5rM.woff2) format("woff2"),url(//fonts.gstatic.com/s/montserrat/v10/aEu-9ATAroJ1iN4zmQ55BoPAkl-0rCkX4F4zIO7lYWE.woff) format("woff");
}
/*------------------------------------// */
/* RGB */
/*------------------------------------// */
/* Stylesheet v.: 0 0.1 */
/*------------------------------------// */
/*------------------------------------// */
/*------------------------------------// */
/*------------------------------------// */
/*------------------------------------// */
/*------------------------------------// */
/*------------------------------------// */
/*------------------------------------// */
/*------------------------------------// */
body {
  font-weight: 300;
  font-size: 14px;
  font-family: Montserrat, Helvetica neue, Helvetica, Arial, sans-serif;
  line-height: 24px;
  text-rendering: optimizeLegibilitycolor;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
}

/*------------------------------------// */
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 900;
  font-family: Montserrat, Helvetica neue, Helvetica, Arial, sans-serif;

  /*------------------------------------// */
}

h1,
.h1 {
  font-size: 4.8rem;
  line-height: 6rem;
}

h2,
.h2 {
  font-size: 3.6rem;
  line-height: 4.8rem;
}

h3,
.h3 {
  font-size: 2.8rem;
  line-height: 3.6rem;
}

h4,
.h4 {
  font-size: 2.2rem;
  line-height: 3.6rem;
}

h5,
.h5 {
  font-size: 1.6rem;
  line-height: 2.4rem;
}

h6,
.h6 {
  font-size: 1.4rem;
  line-height: 2.4rem;
}

.Heading--meta {
  color: #6b6b6b;
}

p {
  margin-bottom: 2rem;
  word-wrap: break-word;
  word-break: break-word;
}
p:last-child {
  margin-bottom: 0;
}

.text--leader {
  font-weight: 200;
  font-size: 1.8rem;
  line-height: 2.4rem;
}

.text--meta {
  color: #6b6b6b;
  font-size: 1rem;
  line-height: 1.2rem;
}

.text--small,
small {
  font-size: 85%;
}

.text--smaller {
  font-size: 1.2rem;
  line-height: 1.8rem;
}

.text--bigger {
  font-size: 1.8rem;
  line-height: 2.4rem;
}

/*------------------------------------// */
.color--main {
  color: #02c39a;
}

.color--danger {
  color: #ed5565;
}

.color--warning {
  color: #f6bb42;
}

.color--success {
  color: #48cfad;
}

.color--info {
  color: #4fc1e9;
}

.color--alt {
  color: #333333;
}

.color--faded {
  color: #6b6b6b;
}

.color--text {
  color: #333333;
}

strong,
.text--strong {
  font-weight: 600;
}

b,
.text--bold {
  font-style: bold;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

.content--text ul, .content--text ol, .content--text dl {
  margin-bottom: 2rem;
}
.content--text ul {
  padding-left: 1rem;
  list-style-type: disc;
}
.content--text ul ul {
  padding-left: 1rem;
  list-style-type: circle;
}
.content--text ol {
  padding-left: 1rem;
  list-style-type: decimal;
}
.content--text ol ol {
  padding-left: 1rem;
  list-style-type: lower-latin;
}

/* http://prismjs.com/download.html?themes=prism-okaidia&languages=markup+css+clike+javascript+coffeescript&plugins=unescaped-markup */
/*
 * okaidia theme for JavaScript, CSS and HTML
 * Loosely based on Monokai textmate theme by http://www.monokai.nl/
 * @author ocodia
 */
code[class*="language-"],
pre[class*="language-"] {
  background: none;
  color: #f8f8f2;
  text-align: left;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  white-space: pre;
  word-spacing: normal;
  word-wrap: normal;
  word-break: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  line-height: 1.5;
}

/* Code blocks */
pre[class*="language-"] {
  display: block;
  overflow: auto;
  padding: 1em;
  -webkit-border-radius: 0.3em;
     -moz-border-radius: 0.3em;
          border-radius: 0.3em;
}

*:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #272822;
}

/* Inline code */
*:not(pre) > code[class*="language-"] {
  position: relative;
  top: -0.1rem;
  padding: 0 0.5em;
  -webkit-border-radius: 0.3em;
     -moz-border-radius: 0.3em;
          border-radius: 0.3em;
  white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: slategray;
}

.token.punctuation {
  color: #f8f8f2;
}

.namespace {
  opacity: 0.7;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
  color: #f92672;
}

.token.boolean,
.token.number {
  color: #ae81ff;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #a6e22e;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  color: #f8f8f2;
}

.token.atrule,
.token.attr-value,
.token.function {
  color: #e6db74;
}

.token.keyword {
  color: #66d9ef;
}

.token.regex,
.token.important {
  color: #fd971f;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

/* Fallback, in case JS does not run, to ensure the code is at least visible */
.lang-markup script[type='text/plain'],
.language-markup script[type='text/plain'],
script[type='text/plain'].lang-markup,
script[type='text/plain'].language-markup {
  display: block;
  overflow: auto;
  white-space: pre;
  font: 100% Consolas, Monaco, monospace;
}

.page--documentation .main--global .main-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row nowrap;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}
.page--documentation .header--global,
.page--documentation .footer--global,
.page--documentation .content {
  margin-left: 22vw;
}
.page--documentation .header--global .header--first,
.page--documentation .header--global .header--last {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
     -moz-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.page--documentation .header--global .header--first {
  padding-top: 4rem;
  padding-bottom: 2rem;
  background: #ccd1d9;
}
.page--documentation .header--global .header--first .heading {
  color: #434a54;
}
.page--documentation .header--global .header--last {
  padding-top: 4rem;
  padding-bottom: 2rem;
  background: #f5f7fa;
}
.page--documentation .header--global .header--last .heading {
  color: #ccd1d9;
}
.page--documentation .header--global .heading {
  margin: 0;
}
.page--documentation .footer--global .footer-inner {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.page--documentation .sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 22vw;
  background: #434a54;
  color: #f5f7fa;
}
.page--documentation .sidebar ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.page--documentation .sidebar li {
  display: block;
}
.page--documentation .sidebar a {
  display: block;
  color: white;
  text-decoration: none;
}
.page--documentation .content {
  position: relative;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
     -moz-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  background: -webkit-gradient(linear, left top, right top, color-stop(0, #f5f7fa), color-stop(66.667%, #f5f7fa), color-stop(66.667%, white), to(white));
  background: -webkit-linear-gradient(left, #f5f7fa 0, #f5f7fa 66.667%, white 66.667%, white 100%);
  background: -moz-linear-gradient(left, #f5f7fa 0, #f5f7fa 66.667%, white 66.667%, white 100%);
  background: -o-linear-gradient(left, #f5f7fa 0, #f5f7fa 66.667%, white 66.667%, white 100%);
  background: linear-gradient(to right, #f5f7fa 0, #f5f7fa 66.667%, white 66.667%, white 100%);
  background: -webkit-linear-gradient(left, #f5f7fa 0, #f5f7fa -webkit-calc(100%/3*2), white -webkit-calc(100%/3*2), white 100%);
  background: -moz-linear-gradient(left, #f5f7fa 0, #f5f7fa -moz-calc(100%/3*2), white -moz-calc(100%/3*2), white 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0, #f5f7fa), color-stop(0, #f5f7fa), color-stop(0, white), to(white));
  background: -o-linear-gradient(left, #f5f7fa 0, #f5f7fa calc(100%/3*2), white calc(100%/3*2), white 100%);
  background: linear-gradient(to right, #f5f7fa 0, #f5f7fa calc(100%/3*2), white calc(100%/3*2), white 100%);
}
.page--documentation .module-group {
  margin-bottom: 2rem;
}
.page--documentation .module-group:last-of-type {
  margin-bottom: 0;
}
.page--documentation .module {
  position: relative;
  margin-bottom: 2rem;
}
.page--documentation .module:last-of-type {
  margin-bottom: 0;
}
.page--documentation .module-code {
  position: -webkit-sticky;
  position: sticky;
  top: 2rem;
  z-index: 10;
  -webkit-box-shadow: -3rem 0 10rem 3rem rgba(204, 209, 217, 0);
     -moz-box-shadow: -3rem 0 10rem 3rem rgba(204, 209, 217, 0);
          box-shadow: -3rem 0 10rem 3rem rgba(204, 209, 217, 0);
  font-size: 1.1rem;
  -webkit-transition-delay: 0ms;
     -moz-transition-delay: 0ms;
       -o-transition-delay: 0ms;
          transition-delay: 0ms;
  -webkit-transition-timing-function: ease-in-out;
     -moz-transition-timing-function: ease-in-out;
       -o-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
     -moz-transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
       -o-transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
          transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
  -webkit-transition-duration: 1000ms;
     -moz-transition-duration: 1000ms;
       -o-transition-duration: 1000ms;
          transition-duration: 1000ms;
  -webkit-transition-property: margin, -webkit-box-shadow;
  transition-property: margin, -webkit-box-shadow;
  -o-transition-property: margin, box-shadow;
  -moz-transition-property: margin, box-shadow, -moz-box-shadow;
  transition-property: margin, box-shadow;
  transition-property: margin, box-shadow, -webkit-box-shadow, -moz-box-shadow;
}
.page--documentation .module-code:hover {
  margin-left: -10rem;
  -webkit-box-shadow: -3rem 0 10rem 3rem rgba(204, 209, 217, 0.75);
     -moz-box-shadow: -3rem 0 10rem 3rem rgba(204, 209, 217, 0.75);
          box-shadow: -3rem 0 10rem 3rem rgba(204, 209, 217, 0.75);
  -webkit-transition-delay: 300ms;
     -moz-transition-delay: 300ms;
       -o-transition-delay: 300ms;
          transition-delay: 300ms;
}

.col-box {
  padding: 1rem;
  background: whitesmoke;
  background: white;
  color: #6b6b6b;
  text-align: center;
  font-weight: 400;
  font-size: 1.1rem;
}
